{% extends "navbar.html" %}
{% block title %}All Menu{% endblock title %}
{% block body %}
<style>
    
    /*--------------------------------------------------------------
     Menu Section
    --------------------------------------------------------------*/
    .menu #menu-flters {
      padding: 0;
      margin: 0 auto 0 auto;
      list-style: none;
      text-align: center;
      border-radius: 50px;
    }
    
    .menu #menu-flters li {
      cursor: pointer;
      display: inline-block;
      padding: 8px 16px 10px 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      color: #444444;
      margin: 0 3px 10px 3px;
      transition: all ease-in-out 0.3s;
      background: #fff;
      border: 2px solid #ffb03b;
      border-radius: 50px;
    }
    
    .menu #menu-flters li:hover,
    .menu #menu-flters li.filter-active {
      color: #fff;
      background: #ffb03b;
    }
    
    .menu #menu-flters li:last-child {
      margin-right: 0;
    }
    
    .menu .menu-content {
      margin-top: 30px;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      position: relative;
    }
    
    .menu .menu-content::after {
      content: "......................................................................" "...................................................................." "....................................................................";
      position: absolute;
      left: 20px;
      right: 0;
      top: -4px;
      z-index: 1;
      color: #dad8d4;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    .menu .menu-content a {
      padding-right: 10px;
      background: #fff;
      position: relative;
      z-index: 3;
      font-weight: 700;
      color: #ff9b08;
    }
    
    .menu .menu-content span {
      background: #fff;
      position: relative;
      z-index: 3;
      padding: 0 10px;
      font-weight: 600;
    }
    
    .menu .menu-ingredients {
      font-style: italic;
      font-size: 14px;
      font-family: "Comic Neue", sans-serif;
      color: #948c81;
    }
    
    </style>

    <div class="container-fluid px-0 mb-3">
    
    
        <img src="{{cuisine.img.url }}" height="300" class="d-block w-100" alt="...">
    
</div>

<section id="menu" class="menu">
    <div class="container">

        <div class="section-title">
            <h2>Check our tasty <span>"{{cuisine.name}}"</span></h2>
        </div>

        <div class="row menu-container">


            {% for menu in menulist %}
            <div class="col-lg-6 menu-item filter-starters">
                <div class="menu-content">
                    <a href="#">{{ menu.name }}</a><span>Rs. {{ menu.price }} </span>
                </div>
                <div class="menu-ingredients">
                    {{ menu.desc }}
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</section>

{% comment %} 
<div class="container py-4" >
    <div class='row'>
        <div class='col-md-12'>
      {% if menulist %}
            <table class="table table-striped-columns">
                <thead>

                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Cuisine Category</th>
                   
                  </tr>
                </thead>
                <tbody>
                {% for data in menulist %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{data.name}}</td>
                    <td>{{data.desc}}</td>
                    <td>{{data.price}}</td>
                    <td>{{data.cuisine_cat}}</td>
                  </td>
                    
                  
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            No record found!
{% endif %}
        </div>
    </div>
</div> {% endcomment %}

{% endblock body %}